@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&display=swap");
* {
  font-family: "Prompt", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bgcolor: #040d10;
  --text-color: #ffd28d;
  --white: #ffffff;
  --textnone: none;
  --Baskervville: "Baskervville", serif;
}
a {
  text-decoration: none;
}

/* ====== MOBILE SLIDE MENU ====== */
.menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: -100vh; /* hide off-screen initially */
  left: 0;
  background-color: var(--bgcolor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: top 0.6s ease, opacity 0.6s ease;
  opacity: 0;
  z-index: 1000;
}

.menu.active {
  top: 0; /* slide down */
  opacity: 1;
}

.menu li {
  margin: 0px 300px;
}

.menu a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 2rem;
  transition: color 0.3s ease;
}

.menu a:hover {
  color: var(--white);
}

header {
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.8549019608); */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0), inset 0 -1px 0 rgba(255, 255, 255, 0),
    inset 0 0 20px 10px rgba(255, 255, 255, 0);
  position: fixed;
  overflow: hidden;
  z-index: 10000;
}
.primary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #ffd28d;
  padding: 0 10px 0 28px;
}
.primary-header .header-logo {
  height: 100%;
  border-right: 1px solid var(--text-color);
  padding: 22px 25px 22px 0;
}
.primary-header .header-logo a {
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  color: var(--white);
}

/* From Uiverse.io by david-mohseni */
.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  padding: 17px 15px 0;
  /* padding:18px 10px; */
  /* border-left: 1px solid var(--text-color); */
  cursor: pointer;
}
.menu-icon::before {
  content: "";
  position: absolute;
  background-color: var(--text-color);
  right: 90px;
  width: 1px;
  top: 0;
  height: 73px;
}
.menu-icon input {
  display: none;
}
.menu-icon span {
  display: block;
  height: 2px;
  width: 100%;
  background: var(--text-color);
  border-radius: 10px;
  opacity: 1;
  margin-bottom: 8px;
  left: 0;
  transition: 0.3s ease-in-out;
}
.menu-icon span {
  transform-origin: left center;
}
.menu-icon input:checked ~ span {
  background: var(--text-color);
  left: 10px;
  /* margin-bottom: 28%; */
}
.menu-icon input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
}
.menu-icon input:checked ~ span:nth-of-type(2) {
  opacity: 0;
}
.menu-icon input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
}

.secondary-header {
  display: flex;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin-top: 15px;
}
.secondary-header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  list-style: none;
}
.secondary-header .navbar .nav-link {
  color: var(--white);
  font-weight: 500;
  padding: 10px 15px;
  display: inline-flex;
  text-transform: uppercase;
  position: relative;
  height: inherit;
  align-items: center;
  transition: all 0.3s ease;
}
.secondary-header .navbar .nav-link:hover {
  color: var(--text-color);
}

/* hero section styling  */
.hero {
  width: 100% !important;
  height: 100vh !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  position: relative;
}
#carouselExampleControls img {
  width: 100% !important;
  height: 100vh !important;
}
.carousel-caption {
  margin-bottom: 175px;
}
.carousel-caption .slider-mini-title {
  font-family: var(--Baskervville);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: -5px;
  font-style: italic;
  color: var(--text-color);
}
.carousel-caption .slider-title {
  font-family: var(--Baskervville);
  font-size: 48px;
  color: var(--white);
  text-transform: uppercase;
}
.hero-checkig-from-section {
  display: flex;
  position: absolute;
  background-color: var(--bgcolor);
  padding: 70px;
  width: 97%;
  bottom: 0;
  gap: 20px;
  margin-left: 20px;
  margin-right: 5px;
  z-index: 2;
}
.date-input-style1 {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid var(--text-color);
  padding: 0 10px;
  width: 100%;
}
.date-input-style1 .date-input {
  border: none;
  color: #000;
  width: inherit;
  position: relative;
  z-index: 4;
  padding: 19px 12px;
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  opacity: 1;
  z-index: 4;
}
.date-input:focus {
  outline: none;
}
.date-input-style1 .date-icon {
  position: absolute;
  cursor: pointer;
  right: 20px;
  z-index: 3;
}
.select-input-style1 {
  position: relative;
  width: 100%;
  border: 1px solid var(--text-color);
  /* padding: 0 10px; */
  gap: 75px;
}
.select-input-style1 .select-option {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100% !important;
  cursor: pointer;
  border: none;
  padding: 19px 20px;
  background-color: transparent;
  color: var(--white);
}
option {
  width: 100%;
  color: var(--bgcolor);
}
.select-input-style1 .select-option:focus {
  outline: none;
}
.select-input-style1 .select-icon {
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
}

.ak-btn {
  width: 100%;
  border: none !important;
}

.ak-btn button {
  width: 100%;
  height: 100%;
  background-color: var(--text-color);
  cursor: pointer;
  border: none !important;
}
.ak-btn button:focus {
  outline: none;
}

/* about  */
.ak-about-bg-color {
  padding: 150px 0;
  background-color: var(--bgcolor);
}
.ak-about-bg-color .about-img-2 {
  width: 100%;
  height: 50vh;
  margin-bottom: 75px;
}
.ak-about-bg-color .about-img-2 img {
  width: 100%;
  height: 100%;
}
.ak-about-bg-color .text-content {
  .mini-title{
    display: flex;
    gap: 20px;
  }
  .mini-title-border{
    width: 60px;
    height: 1px;
    background-color: var(--text-color);
    margin-top: 10px;

  }
  .mini-text{
    align-items: center;
    text-transform: uppercase;
    color: var(--text-color);
  }
  .section-title{
    font-size: 60px;
    line-height: 69px;
    letter-spacing: 1px;
    font-family: var(--Baskervville);
    color: var(--white);
    span{
      color: var(--text-color);
      font-family: var(--Baskervville);
    }
  }
  .section-desp{
    color: var(--white);
  }
  
}
