@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* For WebKit-based browsers */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    /* background: hsl(36, 100%, 97%); */
    background: hsl(195, 60%, 4%);
}

::-webkit-scrollbar-thumb {
    cursor: grab;
    background-color: hsl(36, 100%, 70%);
    /* border: 1px solid hsl(36, 100%, 97%); */
    /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(36, 100%, 77%);
}

::-webkit-scrollbar-thumb:active {
    cursor: grabbing;   
}

body {
    background-color: hsl(195, 60%, 4%);
}

header {
    position: fixed;
    top: 0;
    z-index: 999999;
    width: 100%;
    font-family: Prompt, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.5s ease-in-out;
}

header.isScrolled {
    background-color: hsl(0, 0%, 0%, 0.5);
    backdrop-filter: blur(1em);
}

header > .header-top {
    display: flex;
    justify-content: space-between;
    padding: 0px 16px 0px 28px;
    height: 70px;
    border-top: 1px solid hsl(36, 100%, 78%, 0.3);
    border-bottom: 1px solid hsl(36, 100%, 78%, 0.3);    
}

.header-top > .book-now-btn {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 29px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 28px;
    border-right: 1px solid hsl(36, 100%, 78%, 0.3);
    transition: 0.3s ease-in-out;
}

.header-top > .book-now-btn:hover {
    color: hsl(36, 100%, 78%);
}

.header-top > .logo {
    align-self: center;
}

.header-top > .logo-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    border-left: 1px solid hsl(36, 100%, 78%, 0.3);
}

header > .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 21.5px;
    transition: 0.5s ease-in-out;
}

header.isScrolled > .navbar-container {
    border-bottom: 1px solid hsl(36, 100%, 78%, 0.3);
}

.navbar-container > .nav-items,
.footer-top > .footer-items {
    display: flex;
    align-items: center;
    gap: 2em;
    list-style-type: none;
}

.footer-top > .footer-items {
    margin-top: 1.75em;
    gap: 6em;
}

.nav-items .nav-item-link,
.footer-items .footer-item-link {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    transition: 0.3s ease-in-out;
}

.nav-items .nav-item-link:hover,
.footer-items .footer-item-link:hover {
    color: hsl(36, 100%, 78%);
}


/* Home */
main > #home {
    position: relative;
    min-height: 100dvh;
    background-image: url("./images/home/home-bg-1.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-inline: 0.8em;
    /* animation: change-bg 10s ease-in-out infinite forwards alternate; */
}

/* @keyframes change-bg {
    0% {
        animation-delay: 1s;
        background-image: url("./images/home/home-bg-1.png");
    }
    50% {
        animation-delay: 3s;
        background-image: url("./images/home/home-bg-2.png");
    }
    100% {
        animation-delay: 5s;
        background-image: url("./images/home/home-bg-3.png");
    }
} */

#home > .home-text {
    font-family: Baskervville, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 9.5em;
}

.home-text > p {
    color: hsl(36, 100%, 78%);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 24px;
    font-style: italic;
}

.home-text > h1 {
    color: hsl(0, 0%, 100%);
    font-size: 3rem;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

#home > .home-actions {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    background-color: hsl(195, 60%, 4%, 0.8);
    backdrop-filter: blur(1em);
    padding: 60px 70px;
}

.home-actions > .home-action {
    color: #fff;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 16px;
    border: 1px solid hsl(36, 100%, 78%, 0.3);
    width: 215px;
    font-family: Prompt, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home-action > p, 
.home-actions > .home-btn,
.footer-bottom > .booking-btn {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 29px;
}

.home-actions > .home-btn,
.footer-bottom > .booking-btn {
    position: relative;
    min-width: 224px;
    height: 68px;
    border: none;
    transition: 0.3s;
    background-color: transparent;
    cursor: pointer;
}

.footer-bottom > .booking-btn {
    text-decoration: none;
    display: inline-block;
    min-width: 155px;
}

.home-btn > p,
.booking-btn > p {
    position: absolute;
    inset: 0;
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #000;
    background-color: transparent;
    transition: 0.3s;
}

.home-btn:hover > p,
.booking-btn:hover > p {
    color: hsl(0, 0%, 100%);
}

.home-actions > .home-btn::before,
.footer-bottom > .booking-btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 10;
    min-width: 0px;
    height: 68px;
    border-top: 1px solid hsl(36, 100%, 78%);
    border-bottom: 1px solid hsl(36, 100%, 78%);
    transition: 0.3s;
}

.home-actions > .home-btn:hover::before,
.footer-bottom > .booking-btn:hover::before {
    min-width: 224px;
    transition-delay: 0.5s;
}

.footer-bottom > .booking-btn:hover::before {
    min-width: 155px;
}

.home-actions > .home-btn::after,
.footer-bottom > .booking-btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 10;
    background-color: hsl(36, 100%, 78%);
    min-width: 224px;
    height: 68px;
    transition: 0.3s;
}

.footer-bottom > .booking-btn::after {
    background-color: hsl(0, 0%, 100%);
    min-width: 155px;
}

.home-actions > .home-btn:hover::after,
.footer-bottom > .booking-btn:hover::after {
    min-width: 0px;
}


/* About */
main > #about {
    padding: 7.5em 0.8em 0;
    text-align: center;
}

#about > .about-img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 5em;
}

#about > .section-title {
    display: flex;
    align-items: center;
    gap: 1.25em;
    width: fit-content;
    margin-inline: auto;
}

.section-title > .section-title-line {
    width: 50px;
    height: 1px;
    background-color: #FFD28D;
}

.section-title > p {
    color: hsl(36, 100%, 78%);
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    font-family: Prompt, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section-heading {
    color: hsl(0, 0%, 100%);
    font-size: 3.75rem;
    font-weight: 400;
    line-height: 69px;
    font-family: Baskervville, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-block: 0.35em 0.4em;
}

.section-heading > span {
    color: hsl(36, 100%, 78%);
}

#about > .about-desc {
    color: hsl(0, 0%, 78%);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    font-family: Prompt, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#about > .about-desc-1 {
    margin-bottom: 2em;
}

#about > .signature-img {
    margin-top: 4.25em;
}


/* Rooms */
main > #rooms {
    padding: 8.5em 4.5em 0;
}

#rooms > .rooms-head, 
#features > .features-head,
#gallery > .gallery-head {
    text-align: center;
    font-family: Baskervville, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.rooms-head > .rooms-title,
.features-head > .features-title,
.gallery-head > .gallery-title {
    color: hsl(36, 100%, 78%);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 29px;
    font-style: italic;
}

.rooms-head > .rooms-heading,
.features-head > .features-heading,
.gallery-head > .gallery-heading {
    color: hsl(36, 100%, 78%);
    font-size: 3.75rem;
    font-weight: 400;
    line-height: normal;
    margin-top: 0.15em;
}

#rooms > .rooms-cards {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 3.2em;
    padding-inline: 3em;
    margin-block: 4em 6em;

    /* overflow: hidden; */
}

.room-card > .room-img {
    position: relative;
}

.room-card > .room-img > img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.room-img > .room-price {
    position: absolute;
    left: 45px;
    bottom: 48px;
    z-index: 10;
} 

.room-img > .room-price::before,
.room-img > .room-price::after {
    content: "";
    position: absolute;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 1px;
    background-color: hsl(36, 98%, 77%);
}

.room-img > .room-price::before {
    top: -0.075em;
}

.room-img > .room-price::after {
    bottom: -0.05em;
}

.room-price:hover::before, 
.room-price:hover::after {
    opacity: 0;
}

#rooms > .rooms-btn {
    position: relative;
    text-decoration: none;
    max-width: fit-content;
}

/* #rooms > .rooms-btn::before,
#rooms > .rooms-btn::after {
    content: "";
    position: absolute;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 1px;
    background-color: hsl(36, 98%, 77%);
}

#rooms > .rooms-btn::before {
    top: -0.075em;
}

#rooms > .rooms-btn::after {
    bottom: -0.05em;
}

#rooms > .rooms-btn::before,
#rooms > .rooms-btn::after {
    opacity: 0;
} */

.room-price > p, .rooms-btn > p {
    position: relative;
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    font-weight: 400;
    line-height: 29px;
    text-transform: uppercase;
    font-family: Prompt, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0.8em 1em;
}

.rooms-btn > p {
    background-color: #FFD28D;
    color: #091e24;
    font-weight: 500;
    transition: 0.3s;
}

.rooms-btn > p {
    width: fit-content;
    margin-inline: auto;
}

.room-price > p::before, 
.room-price > p::after,
.rooms-btn > p::before,
.rooms-btn > p::after {
    content: "";
    position: absolute;
    z-index: 20;
    width: 0;
    height: 1px;
    background-color: hsl(36, 98%, 77%);
    transition: 1s;
}

.room-price > p::before,
.rooms-btn > p::before {
    top: 0;
    right: 0;
}

.room-price > p::after,
.rooms-btn > p::after {
    bottom: 0;
    left: 0;
}

.rooms-btn > p::before,
.rooms-btn > p::after {
    transition: 0.75s;
}

.rooms-btn > p::before {
    top: -0.075em;
}

.rooms-btn > p::after {
    bottom: -0.05em;
}

.rooms-btn:hover > p {
    background-color: transparent;
    color: hsl(0, 0%, 100%);
    font-weight: 400;
}

.room-price:hover > p::before, 
.room-price:hover > p::after,
.rooms-btn:hover > p::before,
.rooms-btn:hover > p::after {
    width: 100%;
}

.room-card > .room-text  > .room-heading {
    color: hsl(0, 0%, 100%);
    font-size: 1.625rem;
    font-weight: 400;
    line-height: 29px;
    font-family: Baskervville, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-block: 1em;
}

.room-text > .room-specs {
    display: flex;
    align-items: center;
    gap: 1.9em;
    margin-bottom: 1.1em;
}

.room-specs > .room-spec, 
.room-text > .room-desc {
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    font-family: Prompt, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-left: 1px solid #504836;
    padding-left: 1.9em;
}

.room-specs > .room-spec:first-child,
.room-text > .room-desc {
    border-left: none;
    padding-left: 0;
}

.room-text > .room-desc {
    color: hsl(0, 0%, 78%);
    text-transform: none;
    margin-bottom: 1.8em;
}

.room-text > .room-btn {
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1em;
    width: fit-content;
}


.room-text > .room-btn > span {
    color: hsl(36, 100%, 78%);
    font-size: 1rem;
    font-weight: 400;
    line-height: 29px;
    text-transform: uppercase;
    font-family: Prompt, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.3s;
}

.room-text > .room-btn:hover > span {
    color: hsl(0, 0%, 100%);
}

/* .room-text > .room-btn > span::after {
    content: "";
    position: absolute;
    z-index: 20;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: hsl(36, 98%, 77%);
    transition: 1s;
}

.room-text > .room-btn > span:hover::after {
    width: 100%;
} */

.room-text > .room-btn > img {
    transition: 0.5s;
} 

.room-text > .room-btn:hover > img {
    translate: 12px 0;
}


/* Services */
main > #services {
    padding: 8.5em 7.5em 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

#services > .services-text > .section-title {
    display: flex;
    align-items: center;
    gap: 1.25em;
}

.services-text > .services-list {
    list-style-type: none;
    margin-top: 3.8em;
}

.services-list > .service-item {
    color: hsl(0, 0%, 100%);
    font-size: 1.375rem;
    font-weight: 400;
    line-height: normal;
    font-family: Baskervville, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 1px solid hsl(43, 19%, 26%);
    padding-block: 20px 25px;
    width: 349px;
    transition: 0.3s;
}

.services-list > .service-item:hover {
    color: rgb(255, 210, 141);
    cursor: pointer;
}

#services > .services-img {
    position: relative;
    width: 638px;
    height: 664px;
    border: 1px solid hsl(0, 0%, 100%, 0.2);
}

.services-img > img {
    max-width: 100%;
    min-height: auto;
}

.services-img > .service-explore {
    position: absolute;
    inset: 27px;
    background-color: hsl(209, 100%, 8%, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-explore > div {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: hsl(209, 100%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
    cursor: pointer;
}

.service-explore > div > img {
    transition: 0.3s;
}

.service-explore > div:hover > img {
    transform: rotate(-35deg) translateX(5px);
}

.service-explore > div > p {
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    font-weight: 400;
    line-height: 29px;
    text-transform: uppercase;
    font-family: Prompt, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.3s;
}

.service-explore > div:hover > p {
    color: rgb(255, 210, 141);
}


/* Statistics */
#statistics {
    padding: 9em 7.5em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#statistics > .statistic-item > .stat-number {
    color: hsl(36, 100%, 78%);
    font-size: 5rem;
    font-weight: 400;
    line-height: 29px;
    font-family: Prompt, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 0.55em;
}

#statistics > .statistic-item > .stat-text, 
.stat-text > span {
    color: hsl(0, 0%, 100%);
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 24px;
    font-style: italic;
    font-family: Baskervville, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.stat-text > span {
    color: hsl(36, 100%, 78%);
    font-size: 1.25rem;
}


/* Testimonials */
main > #testimonials {
    padding: 9.5em 7.5em 0;
}

#testimonials > .testimonial-box {
    display: flex;
    justify-content: space-between;
    align-items: end;
    text-align: center;
}

.testimonial-box > img {
    margin-bottom: 1.35em;
}

.testimonial-text > .testimoni-img {
    border-radius: 50%;
    margin-bottom: 1em;
}

.testimonial-text > .testimoni-name {
    color: hsl(36, 100%, 78%);
    font-size: 1.375rem;
    font-weight: 400;
    line-height: normal;
    font-family: Baskervville, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.testimonial-text > .testimoni-country {
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    font-style: italic;
    font-family: Prompt, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.testimonial-text > .testimonial {
    color: hsl(0, 0%, 100%);
    font-size: 1.375rem;
    font-weight: 400;
    line-height: normal;
    font-style: italic;
    font-family: Prompt, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 1.35em;
}


/* Features */
main > #features {
    padding: 10em 0 0;
}

#features > .features-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 4em;
}

.features-container > .around-feature {
    border-top: 1px solid #504836;
}

.features-container > .around-feature:nth-child(even) {
    padding-right: 8em;
    border-left: 1px solid #504836;
}

.features-container > .around-feature:nth-child(odd) {
    padding-left: 8em;
}

.features-container > .around-feature:nth-child(1) {
    padding-right: 1em;
    padding-bottom: 1em;
    border-top: none;
}

.features-container > .around-feature:nth-child(2) {
    padding-left: 1em;
    padding-bottom: 1em;
    border-top: none;
}

.features-container > .around-feature:nth-child(3) {
    padding-top: 1em;
    padding-right: 1em;
}

.features-container > .around-feature:nth-child(4) {
    padding-top: 1em;
    padding-left: 1em;
}

.features-container .feature {
    background-color: #091e24;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 50px;
}

.feature > .feature-icon {
    min-width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #4F4836;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature-icon > img {
    max-width: 100%;
    min-height: auto;
    object-fit: cover;
    object-position: center;
}

.feature > .feature-text > .feature-heading {
    color: hsl(0, 0%, 100%);
    font-size: 2.25rem;
    font-weight: 400;
    line-height: normal;
    font-family: Baskervville, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.feature-heading > span {
    color: hsl(36, 100%, 78%);
    font-size: 1.25rem;
}

.feature > .feature-text > .feature-desc {
    color: hsl(0, 0%, 78%);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    font-family: Prompt, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0.75em;
}


/* Gallery */
main > #gallery {
    padding: 10em 0 0;
}

#gallery > .gallery-container {
    display: flex;
    justify-content: center;
    gap: 1.75em;
    margin-top: 4em;
    overflow-x: scroll;
}

/* For WebKit-based browsers */
#gallery > .gallery-container::-webkit-scrollbar {
    height: 5px;
}

#gallery > .gallery-container::-webkit-scrollbar-track {
    background: hsl(195, 60%, 10%);
    margin-inline: 8em;
}

#gallery > .gallery-container::-webkit-scrollbar-thumb {
    cursor: grab;
    background-color: hsl(36, 100%, 70%);
}

#gallery > .gallery-container::-webkit-scrollbar-thumb:hover {
    background-color: hsl(36, 100%, 77%);
}

#gallery > .gallery-container::-webkit-scrollbar-thumb:active {
    cursor: grabbing;   
}

.gallery-container > .gallery-img {
    width: 325px;
    height: 325px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 1.75em;
}


/* To Top */
main > #to-top {
    padding: 10em 8em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #051114;
}

#to-top > a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.8em;
}

#to-top > a > .angle-arrow-top {
    transition: 0.3s;
}

#to-top > a:hover > .angle-arrow-top {
    translate: 0 -7px;
}

/* Footer */
footer {
    padding: 6.5em 8em 0;
    background-color: #051114;
    font-family: Prompt, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer > .footer-top {
    border-top: 1px solid #504836;
    padding: 70px 50px 80px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer-top > .email {
    position: relative;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 2.1875rem;
    font-weight: 400;
    line-height: 29px;
    font-family: Prompt, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer-top > .email::before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    background-color: hsl(0, 0%, 100%);
    width: 0;
    height: 2px;
    transition: 0.3s;
}

.footer-top > .email:hover::before {
    width: 100%;
}

footer > .footer-bottom {
    border-bottom: 1px solid #504836;
    padding: 0 50px 70px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 3.1em;
}

.footer-bottom > address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.1em;
}

address > .contact-numbers {
    display: flex;
    flex-direction: column;
}

.contact-numbers > .contact-number,
address > .location  {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    font-weight: 400;
    line-height: 29px;
    font-style: normal;
    transition: 0.3s;
}

.contact-numbers > .contact-number:hover,
address > .location:hover {
    color: hsl(36, 100%, 78%);
}

.footer-bottom > .contact-form {
    width: 360px;
    height: 68px;
    border: 1px solid #4F4836;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-form > input {
    width: 281px;
    height: 100%;
    background-color: transparent;
    padding: 18px;
    color: hsl(36, 100%, 78%);
    border: none;
    outline: none;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 29px;
    font-family: inherit;
}

.contact-form > a {
    background-color: hsl(0, 0%, 100%);
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: hsl(0, 0%, 50%);
    border-radius: 15px;
    padding: 8px 13px;
    margin-right: 15px;
    transition: all 0.5s;
    width: 55px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.contact-form > a:hover {
    background-color: hsl(36, 100%, 78%);
}

.contact-form > a > img {
    transform: rotate(0deg);
    transition: transform 0.3s;
}

.contact-form > a:hover > img {
    transform: rotate(45deg);
}   

footer > .copyright {
    color: hsl(0, 0%, 78%);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    padding-block: 8em 2.8em;
}